# Rust
/target
/coreamp-app/target
/coreamp-common/target
/coreamp-daemon/target
/coreamp-app/gen/

# OS Junk
.DS_Store
Thumbs.db
*.DS_Store
*.swp
*~

# Logs
*.log

# Signing keys
.tauri/

# Misc
.env
.env.*
node_modules/

# Claude
CLAUDE.md
.claude/
